@include b('benefits'){
	position: relative;
	@include padding-y(90px);
	color: $color-white;
	@include bg('../img/benefits.jpg');
	@include min(sm){
		@include padding-y(100px);
	}
	@media screen{
		@include min(md){
			background-attachment: fixed;
		}
	}
	&:before{
		@include pseudo();
		left: 0;
		top: 0;
		@include size(100%);
		background-color: transparentize($color-black, 0.4);
	}
	@include e('quadro'){
		@include m('1'){
			top: calc(100% - #{$quadro-size / 3});
			left: 0;
			@include min(md){
				top: calc(100% - #{$quadro-size_md / 3});
			}
		}
		@include m('2'){
			bottom: calc(100% - #{$quadro-size / 3});
			right: 0;
			@include min(md){
				bottom: calc(100% - #{$quadro-size_md / 3});
			}
		}
	}

	@include e('row'){
		@include min(sm){
			justify-content: center;
		}
	}	
}