@include b('trener'){

	@include padding-y(45px);

	@include min(sm){
		@include padding-y(75px);		
	}

	@include e('row'){
		margin-bottom: 45px;
		@include min(sm){
			justify-content: center;
			align-items: center;
		}
	}

	@include e('name'){
		color: $color-brand-2;
		margin-bottom: 15px;
	}

	@include e('footer'){
		text-align: center;
	}
}