
<header class="v-site-header">
  <div class="v-quadro v-quadro_style-1 v-site-header__quadro" data-emergence="hidden"><span class="v-quadro__part v-quadro__part_1"></span><span class="v-quadro__part v-quadro__part_2"></span><span class="v-quadro__part v-quadro__part_3"></span><span class="v-quadro__part v-quadro__part_4"></span><span class="v-quadro__part v-quadro__part_5"></span><span class="v-quadro__part v-quadro__part_6"></span><span class="v-quadro__part v-quadro__part_7"></span><span class="v-quadro__part v-quadro__part_8"></span><span class="v-quadro__part v-quadro__part_9"></span>
  </div>
  <div class="v-container">
    <div class="v-site-header__row v-row">
      <div class="v-col-12 v-col-sm-7">
        <p class="v-site-header__description">Бесплатный живой мастер-класс
        </p>
        <h1 class="v-site-header__title v-title-lg">Доступное среднее<br/>образование в <span class="v-site-header__title-flag">Польше</span>
        </h1>
        <p class="v-site-header__description">Узнайте как отправить Вашего подростка учиться в Польшу, даже если его успеваемость «хромает», а Ваш доход на семью не превышает 1000$/месяц
        </p>
        <div class="v-site-header__info">
          <p class="v-site-header__info-time">7 февраля
          </p>
          <p class="v-site-header__info-place">г.Киев. ул. Большая Васильковская, 30. 3 этаж, <br>зал "Conference Room"
          </p>
        </div>
      </div>
      <div class="v-site-header__column v-site-header__column_form v-col-12 v-col-sm-5 v-col-md-4">
        <div class="v-shadow">
          <div class="v-shadow__content">
            <form class="v-form v-form_block" action="mail.php" method="POST">
              <div class="v-form__content">
                <div class="v-form__row"><input class="v-form__control" name="vname" type="text" placeholder="Ваше имя"/>
                </div>
                <div class="v-form__row"><input class="v-form__control" name="vemail" type="email" placeholder="Ваш email"/>
                </div>
                <div class="v-form__row"><input class="v-form__control" name="vphone" type="tel" placeholder="Ваш телефон"/>
                </div>
                <div class="v-form__row">
                  <button class="v-form__submit v-btn v-btn_brand-1 v-btn_shadow-brand-1 v-btn_size-fluid v-effect v-effect_bounce-top" type="submit">Проконсультироваться<br>бесплатно
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>