include ../bem/index
include ../helpers/config
include ../helpers/mixins
+b.HEADER.site-header
	+quadro('_style-1 site-header__quadro')
	.container
		+e.row.row
			.col-12.col-sm-7
				+e.P.description Бесплатный живой мастер-класс
				+e.H1.title.title-lg
					| Доступное среднее
					br
					|образование в 
					+e.SPAN.title-flag Польше
				+e.P.description Узнайте как отправить Вашего подростка учиться в Польшу, даже если его успеваемость «хромает», а Ваш доход на семью не превышает 1000$/месяц
				+e.info
					+e.P.info-time Киев, 7 февраля
					+e.P.info-place г.Киев. ул. Большая Васильковская, 30. 3 этаж, <br>зал "Conference Room"
			+e.column._form.col-12.col-sm-5.col-md-4
				+b.shadow
					+e.content
						+b.FORM.form._block(action="mail.php" method="POST")
							+e.content
								+e.row
									+e.INPUT.control(name="vname" type="text" placeholder="Ваше имя")
								+e.row
									+e.INPUT.control(name="vemail" type="email" placeholder="Ваш email")
								+e.row
									+e.INPUT.control(name="vphone" type="tel" placeholder="Ваш телефон")
								+e.row
									+e.BUTTON.submit.btn._brand-1._shadow-brand-1._size-fluid.effect._bounce-top(type="submit") Проконсультироваться<br>бесплатно
					+e.footer
						p * Мест в зале немного, а свободных осталось всего ХХ