
<header class="site-header">
  <div class="quadro quadro_style-1 site-header__quadro" data-emergence="hidden"><span class="quadro__part quadro__part_1"></span><span class="quadro__part quadro__part_2"></span><span class="quadro__part quadro__part_3"></span><span class="quadro__part quadro__part_4"></span><span class="quadro__part quadro__part_5"></span><span class="quadro__part quadro__part_6"></span><span class="quadro__part quadro__part_7"></span><span class="quadro__part quadro__part_8"></span><span class="quadro__part quadro__part_9"></span>
  </div>
  <div class="container">
    <div class="site-header__row row">
      <div class="col-12 col-sm-7">
        <p class="site-header__description">Бесплатный живой мастер-класс
        </p>
        <h1 class="site-header__title title-lg">Доступное среднее<br/>образование в <span class="site-header__title-flag">Польше</span>
        </h1>
        <p class="site-header__description">Узнайте как отправить Вашего подростка учиться в Польшу, даже если его успеваемость «хромает», а Ваш доход на семью не превышает 1000$/месяц
        </p>
        <div class="site-header__info">
          <p class="site-header__info-time">Киев, 7 февраля
          </p>
          <p class="site-header__info-place">г.Киев. ул. Большая Васильковская, 30. 3 этаж, <br>зал "Conference Room"
          </p>
        </div>
      </div>
      <div class="site-header__column site-header__column_form col-12 col-sm-5 col-md-4">
        <div class="shadow">
          <div class="shadow__content">
            <form class="form form_block" action="mail.php" method="POST">
              <div class="form__content">
                <div class="form__row"><input class="form__control" name="vname" type="text" placeholder="Ваше имя"/>
                </div>
                <div class="form__row"><input class="form__control" name="vemail" type="email" placeholder="Ваш email"/>
                </div>
                <div class="form__row"><input class="form__control" name="vphone" type="tel" placeholder="Ваш телефон"/>
                </div>
                <div class="form__row">
                  <button class="form__submit btn btn_brand-1 btn_shadow-brand-1 btn_size-fluid effect effect_bounce-top" type="submit">Проконсультироваться<br>бесплатно
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="shadow__footer">
            <p>* Мест в зале немного, а свободных осталось всего ХХ</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>