@include b('icon'){
	&_center{
		text-align: center;
		@include max(sm){
			&:not(:last-child){
				margin-bottom: 30px;
			}
		}
	}
	&_center &{
		@include e('inner'){
			@include min(md){
				@include padding-x(30px);
			}
		}
		@include e('header'){
			margin-bottom: 15px;
		}
		@include e('img'){
			height: 90px;
			margin-bottom: 15px;
		}
	}
	&_large-icon &{
		@include e('img'){
			height: 140px;
		}
	}
	@include e('title'){
		font-family: 'FormularBold';
		font-size: 19px;
		line-height: 1.1;
	}
}