extends pug/layout
block head
	+add-meta('Main File', 'Description')
	-
		var logo = 'img/logo-blue.png';
		
		var content = {
			title: 'Отлично!',
			subtitle: 'Вы забронировали место в зале.',
			content: 'Хотите уже сейчас получить ответы на 24 самых популярных вопроса о получении среднего образования в Польше?',
			message: 'Кликайте на значок своей почты, чтобы быстро перейти в неё'
		};

block nav
block header

block content
	+b.SECTION.thx
		//+e.nav
			.container
				+e.IMG.logo(src=logo)
		.container
			+e.header
				+e.H1.title=content.title
				+e.H2.subtitle=content.subtitle
				+e.content
					p=content.content
	+b.SECTION.book-section
		.container
			+e.H3.title
				| Подпишитесь на нашего 
				span.color-brand-2 чат-бота 
				| в Facebook 
				br
				| и сразу получите книгу в сообщениях своей страницы
			+e.row.row
				.col-12.col-sm-5
					+e.content
						p.offset-static-xs.bold
							| Мини-руководство с ответами на
							br
							| популярные вопросы по учебе в Польше
						+b.UL.list._flag._change-weight
							li Реально ли среднее образование в Польше доступно и почему?
							li Какие нюансы стоит учесть перед отправкой ребенка на учебу?
							li Где ребенок будет жить, как питаться? Сколько это стоит в месяц?
							li Как быстрее всего выучить польский язык?
							li Есть ли вступительные экзамены? Какие?
							li Что делать, если ребенок заболел?
				.col-12.col-sm-7
					+b.bot
						+b.book
							+e.image
								img(src='img/bonus.png')
							+e.content
								+e.P.content-mark PDF-КНИГА
								+e.P.content-title
									| КАК РЕБЁНКУ ПОЛУЧИТЬ ПРЕСТИЖНОЕ СРЕДНЕЕ 
									+e.SPAN.content-title-mark ОБРАЗОВАНИЕ В ПОЛЬШЕ 
									| И ЛЕГКО ПОСТУПИТЬ В ЕВРОПЕЙСКИЙ ВУЗ
								+e.P.content-subtitle 24 ответа на популярные вопросы
						+e.footer
							+b.A.btn._size-lg._brand-2._icon-bot.effect._bounce-top(href='#') 
								| Подписаться на чат-бота
								+e.IMG.icon(src="img/icon-bot.svg")
block footer
	//include pug/layouts/footer
	+b.modal#modal-politic
		+e.box._default
			+e.header
				+e.P.title Политика конфиденциальности
				+e.BUTTON.close(data-close="modal") &times;
			+e.body
				p Lorem....
	+b.modal#modal-otkaz
		+e.box._default
			+e.header
				+e.P.title Отказ от ответственности
				+e.BUTTON.close(data-close="modal") &times;
			+e.body
				p Lorem....