include ../bem/index
include ../helpers/config
+b.SECTION.bonus.section
	.container
		+b.H3.title-md.title-section
			| Подпишитесь на нашего
			br
			span.color-brand-2 чат-бота в Telegram 
			| и получите бонус
		.row
			.col-12.col-sm-5.col-md-4
				+e.img
					img(src="img/bonus.png")
			.col-12.col-sm-7.col-md-8
				+e.content
					p.offset-static-xs.bold
						| Мини-руководство с ответами на
						br
						| популярные вопросы по учебе в Польше
					+b.UL.list._flag
						li Реально ли среднее образование в Польше доступно и почему?
						li Какие нюансы стоит учесть перед отправкой ребенка на учебу?
						li Где ребенок будет жить, как питаться? Сколько это стоит в месяц?
						li Как быстрее всего выучить польский язык?
						li Есть ли вступительные экзамены? Какие?
						li Что делать, если ребенок заболел?
				+e.form-row.row