include ../bem/index
include ../helpers/config
include ../helpers/mixins
- var iconClass = '_center col-12 col-sm-6 col-md-4';
+b.SECTION.master-class
	.container
		+b.H3.title-md.title-section
			span.color-brand-2 Этот мастер-класс -
			| отправная точка
			br
			| для обеспеченного будущего Вашего ребенка
		+b.H4.title-xs.title-section-small Будущего, в котором он сможет:
		+e.row.row
			+icon(iconClass, 'img/master-class-1.svg', 'Поступить в престижный европейский ВУЗ')
				p Остаться легально жить в Европе, а позже перевезти всю свою семью
			+icon(iconClass, 'img/master-class-2.svg', 'Устроится на высокооплачиваемую работу')
				p Вернуться на родину и стать тут востребованным специалистом с зарплатой в $ или €