include ../bem/index
+b.SECTION.trener#section-about
	.container
		+b.H3.title-md.title-section.wow.fadeInUp(data-wow-delay="0.2s") Кто ведет мастер-класс
		+e.row.row
			.col-12.col-sm-6.wow.fadeInUp(data-wow-delay="0.15s")
				+e.P.name.title-md Савченко Алла
				+b.UL.list._flag
					li Лично организовала поступление в Польшу для 500+ украинских детей за последние 7 лет
					li Каждый 3-й ребенок, который поехал учится под руководством Аллы, потом поступает в ВУЗ или легально устраивается работать в Польше
					li 70% детей переезжают жить и работать в страны Западной Европы после школы или лицея
					li За все время организации поступлений детей в Польшу, получили лишь 2% отказов
			.col-12.col-sm-4.wow.fadeInUp(data-wow-delay="0.3s")
				img(src="img/trener.jpg")
		+e.footer.wow.fadeInUp(data-wow-delay="0.15s")
			+b.BUTTON.btn._size-lg._brand-1.effect._bounce-top(data-action="modal" data-open="#modal-form") Забронировать место в зале бесплатно