-
	var navigation = [
		{
			name: 'Что будет на консультации',
			link: '#section-consultation'
		},
		{
			name: 'Кто ведет',
			link: '#section-about'
		},
		{
			name: 'Где находимся',
			link: '#section-map'
		}
	];

	var wordpress = false;

	var themePrefix = '';
	var themeNav = 'vnav';