@include b('thx'){
	@include padding-y(30px);


	@include e('nav'){
		margin-bottom: 15px;
		font-size: 0;

		@include max(md){
			text-align: center;
		}
	}

	@include e('logo'){
		height: 48px;
	}

	@include e('header'){
		text-align: center;
		margin-bottom: 30px;
	}
	
	@at-root{
		%thx-title{
			color: $color-brand-2;
			font-family: 'FormularBold';
			margin-bottom: 15px;
			line-height: 1.1;
			@include min(md){
				margin-bottom: 30px;
			}
		}
	}
	@include e('title'){
		@extend %thx-title;
		font-size: 30px;
		@include min(md){
			font-size: 55px;
		}
	}
	@include e('subtitle'){
		@extend %thx-title;
		font-size: 22px;
		@include min(md){
			font-size: 36px;
		}
	}

	@include e('content'){
		@include min(md){
			font-size: 24px;
			line-height: 1.2;
		}
	}
}

